.admin_container
  width: 100%
  height: 100vh

.sider
  width: 15%
  float: left
  height: 100%
  bottom: 0
  z-index: 5
  background-color: #d8e6fd

.sider_item
  text-align: left
  padding: 10px
  height: 50px

.sider_link
  color: #000
  text-align: center
  font-size: 20px
  font-family: sans-serif
  letter-spacing: 1px

a.sider_link, a.sider_link:after, a.sider_link:before
  transition: all 1s

a.sider_link:hover
  color: #4169e1

a.sider_link:after
  position: absolute
  bottom: 0
  left: 10px
  width: 0%
  content: '.'
  color: transparent
  background: #4169e1
  height: 1px

a.sider_link:hover:after
  width: 210px

.admin_content
  width: 85%
  float: left
  padding: 20px
  font-family: sans-serif


