.footer
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  text-align: center

.footer p
  color: #b3b3b3
  font-family: Verdana, Geneva, Tahoma, sans-serif
  letter-spacing: 1px
  margin-left: 20px
  margin-right: 20px