// Normal navbar

.nav
  box-shadow: 0 2px 10px rgba(0,0,0,.2)
  top: 0
  width: 100%
  z-index: 10
  position: relative
  overflow: hidden
  background-color: white
  height: 300px

.navigation
  width: 70%
  margin: auto

.header_logo_container
  text-align: center

.header_logo
  width: 200px

.item
  text-align: center
  position: relative
  width: 50%
  float: left
  top: 50%
  left: 25%
  transform: translate(-50%,-50%)

a.link
  color: #000
  text-decoration: none
  font-size: 20px
  font-family: sans-serif
  letter-spacing: 2px

a.link, a.link:after, a.link:before
  transition: all 1s

a.link:hover
  color: #4169e1

a.link:after
  position: absolute
  bottom: 0
  left: 0
  right: 0
  margin: auto
  width: 0%
  content: '.'
  color: transparent
  background: #4169e1
  height: 1px

a.link:hover:after
  width: 80%

.icon
  font-size: 20px
  margin-right: 10px

a.selected
  color: #4169e1

// Image

.jumbotron
  text-align: center
  display: block
  width: 100%
  min-height: 300px
  overflow: auto
  border-radius: 0
  overflow-wrap: break-word
  background-image: url(../images/tes.png)
  background-position: top
  background-size: cover

.jumbotron_content
  margin-top: 100px

@media only screen and (min-width: 1200px)
  .jumbotron_content
    width: 800px
    margin-left: auto
    margin-right: auto

@media only screen and (max-width: 1200px)
  .jumbotron_content
    width: 80%
    margin-left: auto
    margin-right: auto

.jumbotron_subtitle
  text-align: center
  color: #fff

.jumbotron_text
  color: #fff

