// homepage
.container
  height: 100%
  width: 100%
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

// homepage header
.navbar
  margin: auto
  width: 80%
  text-align: center
  z-index: 2

.navlink1
  width: 50%
  float: left
  position: absolute
  top: 50%
  left: 25%
  transform: translate(-50%,-50%)

.navlink2
  width: 50%
  float: left
  position: absolute
  top: 50%
  left: 75%
  transform: translate(-50%,-50%)

a.route
  color: #b3b3b3
  text-decoration: none
  font-size: 20px
  font-family: sans-serif
  letter-spacing: 2px

a.route, a.route:after, a.route:before
  transition: all 1s

a.route:hover
  color: #ffffff

a.route:after
  position: absolute
  bottom: 0
  left: 0
  right: 0
  margin: auto
  width: 0%
  content: '.'
  color: transparent
  background: #ffffff
  height: 1px

a.route:hover:after
  width: 80%

.navlinks
  position: relative
  text-align: center
  margin-top: 15em

.logoheader
  width: 100%

// homepage menu
.menubutton
  font-size: 40px
  padding: 1em 0em 0em 1em
  background-color: Transparent
  background-repeat: no-repeat
  border: none
  cursor: pointer
  overflow: hidden
  outline: none

.menubutton:hover
  color: white

.logo
  text-align: left

.logo img
  width: 30em
  display: block


.dropdown
  text-align: center


a.dropdownitem
  color: #b3b3b3
  text-decoration: none
  font-size: 20px
  font-family: Verdana, Geneva, Tahoma, sans-serif

.dropdown_list_item
  height: 35px

a.dropdownitem, a.dropdownitem:after, a.dropdownitem:before
  transition: all 1s

a.dropdownitem:hover
  color: #ffffff

.dropdown_divider
  color: #b3b3b3
  width: 80%




@media only screen and (max-width: 500px)
  .logo img
    margin-top: 24px
    margin-left: 20px
    width: 280px

  .dropdown
    text-align: center

  a.dropdownitem:after
    position: absolute
    bottom: 0
    left: 0
    right: 0
    margin: auto
    width: 0%
    content: '.'
    color: transparent
    background: #b3b3b3
    height: 1px

  a.dropdownitem:hover:after
    width: 130px

@media only screen and (max-width: 1150px) and (min-width: 500px)
  .dropdown
    text-align: left
    margin-left: 40px
    margin-top: -20px

  a.dropdownitem:after
    position: absolute
    bottom: 0
    left: 0
    width: 0%
    content: '.'
    color: transparent
    background: #b3b3b3
    height: 1px

  a.dropdownitem:hover:after
    width: 130px

